<p-toolbar styleClass="bg-red-100 border-noround">
  <div class="p-toolbar-group-left">
    <p-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Image" width="50" class="mr-2"></p-image>
    <p>Angular POC</p>
  </div>
</p-toolbar>

<div class="m-2">
  <div class="p-card mt-3 bg-red-100" routerLink="google-api-client">
    <div class="p-card-content p-0">
      <div class="grid">
        <div class="col-3 flex align-items-center justify-content-center">
          <p-avatar image="https://avatars.githubusercontent.com/u/16785467?s=200&v=4"></p-avatar>
        </div>
        <div class="col-9">
          <p>
            Google API
          </p>
          <div>
            <p-tag severity="danger" value="google api client" [rounded]="true" class="mr-1"></p-tag>
            <p-tag severity="danger" value="google" [rounded]="true"></p-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
